
#popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box{
    background: #1f2029;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 280px;
}

.popup-box h2{
    color: rgb(132, 69, 69);
    margin-bottom: 20px;
}

.popup-box button{
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    background: rgb(216, 121, 121);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight:bold;
}


#wrap{
height: 400px;
width: 400px;
margin: 200px auto;
background-color: #1f2029;
border-radius: 10px;
padding: 30px;
}
#wrap div,#wrap h2{
    display: flex;
    justify-content: center;
}
h2{
    color: #ffeba7;
    letter-spacing: 1px;
}
button{
margin-top: 20px;
background-color: #a98c2f;
border-radius: 4px;
height: 44px;
font-weight: 600;
padding: 0 30px;
letter-spacing: 1px;
border: none
}

button:hover{
cursor: pointer;
}
#result{
color:white;
margin-top: 20px;
font-size:32px;
}